body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    // position: relative;
    //background: linear-gradient(135deg, #313330, #2f312e, #2a2c2a, #242524, #1e1f1e, #1a1a1a, #181818);
    // background: url('../../public/images/body/h-ygyrw_MuBg.png') no-repeat center;
    background-size: cover;
    text-align: left;
    box-sizing: border-box;
    // font-family: Lato, Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    background: white !important;
}


.container {
    max-width: 1222px;
    margin: 0 auto;
    padding: 0px 15px;
    width: 95%;
}

.main {
    margin-bottom: 100px;
}

hr {
    color: gray;
}

.description-card {
    p {
        margin: 10px 0px;
        font-size: 14px;
    }
}

.gallery {
    &__item {
        min-height: 180px;
    }
}

.color-transition {
    transition: background-color 0.5s ease, color 0.5s ease;;
  }
@media screen and (max-width: 1024px) {
    .smoke-effect {
        display: none;
        background: red;
    }
}

@media screen and (max-width: 768px) {
    .home-group-1 {
        gap: 20px !important;
    }
    .home-group-2 {
        gap: 20px !important;
        a {
            width: calc(( 100% - 20px) / 2);
        }
    }
    .home-group-3 {
        gap: 20px !important;
        a {
            width: calc(( 100% - 20px) / 2);
        }
    }
    .title-home {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
}

@media screen and (max-width: 512px) {
    .home-group-2 {
        a {
            width: 100%;
        }
    }
    .home-group-3 {
        a {
            width: 100%;
        }
    }
}